@font-face {
  font-family: "Gilroy-Bold";
  src: url("../assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../assets/fonts/Gilroy-Regular.ttf");
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.leftbg {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 66.94%;
  height: 774px;
  background-color: #f9f1e7;
}

.headercontent {
  width: 100%;
  height: 774px;
  background-color: #fcf8f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headercontent .navigation-bar {
  z-index: 2;
  position: absolute;
  padding-top: 40px;
  max-width: 1240px;
  min-height: 45px;
  margin-left: 100px;
  margin-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.headercontent .navigation-bar .main-logo {
  margin-right: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.headercontent .navigation-bar .arrow-icon {
  margin-right: 40px;
}

.headercontent .navigation-bar .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fff;
  margin-right: 43px;
  height: 24px;
  -ms-flex-item-align: center;
      align-self: center;
}

.headercontent .navigation-bar .drawer-btn {
  display: none;
}

.headercontent .navigation-bar .drawer-menu {
  display: none;
  margin-top: 16px;
  width: 100%;
  background-color: #fff;
}

.headercontent .navigation-bar .drawer-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  text-align: center;
}

.headercontent .navigation-bar .drawer-menu ul li {
  font-family: "Gilroy-Regular";
  font-size: 1em;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #a7a097;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.headercontent .navigation-bar .drawer-menu ul li:hover {
  cursor: pointer;
  background-color: #cfcbc6;
  color: #fff;
}

.headercontent .navigation-bar .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 473px;
  min-height: 45px;
  background-color: #fff;
}

.headercontent .navigation-bar .search-bar img {
  margin-left: 12px;
  margin-right: 6px;
}

.headercontent .navigation-bar .search-bar input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 6px;
  padding-right: 6px;
  width: 85%;
  border: none;
  border-radius: 0px;
  height: 40px;
  font-family: "Gilroy-Regular";
}

.headercontent .navigation-bar .profile-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 120px;
}

.headercontent .navigation-bar .profile-list .profile-icon {
  margin-right: 32px;
}

.headercontent .navigation-bar .profile-list .profile-icon:hover {
  cursor: pointer;
}

.headercontent .navigation-bar .profile-list .profile-images:hover {
  cursor: pointer;
}

.headercontent .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  width: 494px;
  height: 553px;
  z-index: 2;
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: rgba(255, 255, 255, 0.72);
  -webkit-backdrop-filter: blur(31px);
          backdrop-filter: blur(31px);
  opacity: 0.72;
  left: 100px;
  margin-bottom: 80px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.headercontent .hero-content .bold-hero-text {
  position: absolute;
  margin: 60px 60px 292px 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.headercontent .hero-content .bold-hero-text > p {
  font-family: "Gilroy-Bold";
  font-size: 56px;
  margin: 0;
  line-height: 67.2px;
}

.headercontent .hero-content .medium-hero-desc {
  position: absolute;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 277px 77px 186px 60px;
}

.headercontent .hero-content .medium-hero-desc > p {
  font-family: "Gilroy-Medium";
  font-size: 20px;
  margin: 0;
  line-height: 30px;
}

.headercontent .hero-content .shop-now-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 374px;
  height: 78px;
  background: #e89f71;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 415px 60px 60px 60px;
}

.headercontent .hero-content .shop-now-btn:hover {
  cursor: pointer;
}

.headercontent .hero-content .shop-now-btn > p {
  color: #fff;
  font-family: "Gilroy-Regular";
  font-size: 20px;
  margin: 0;
}

.headercontent .info-box {
  z-index: 2;
  position: absolute;
  width: 294px;
  height: 148px;
  background-color: rgba(255, 255, 255, 0.72);
  right: 96px;
  top: 586px;
}

.headercontent .info-box .info-p1 {
  margin: 62px 105px 62px 24px;
}

.headercontent .info-box .info-p2 {
  margin: 94px 141px 24px 24px;
  font-size: 20px;
}

.headercontent .info-box > h4 {
  position: absolute;
  font-family: "Gilroy-Regular";
  font-size: 28px;
  margin: 24px 161px 90px 24px;
}

.headercontent .info-box > p {
  position: absolute;
  font-family: "Gilroy-Regular";
}

.left-right-btn {
  z-index: 2;
  width: 76%;
  min-height: 48px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 574px;
}

.left-right-btn .left-right-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 8px;
}

.left-right-btn .left-right-arrow > img:hover {
  cursor: pointer;
}

.status-gallery-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  gap: 16px;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imageslide {
  z-index: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
}

.imageslide img {
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: translateX(12%);
          transform: translateX(12%);
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-item a:not(:last-child) {
  text-decoration: none;
  font-size: 1rem;
  margin-right: 0.5rem;
  color: #3a3a3a;
  font-family: "Gilroy-Medium";
}

.menu-item a:last-child {
  text-decoration: none;
  font-size: 1rem;
  color: #3a3a3a;
  font-family: "Gilroy-Medium";
}

.menu-item img:hover {
  cursor: pointer;
}

.hero-content-resp {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.hero-content-resp .bold-hero-text-resp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 40px 20px 20px 20px;
}

.hero-content-resp .bold-hero-text-resp > p {
  font-family: "Gilroy-Bold";
  font-size: 24px;
  margin: 0;
}

.hero-content-resp .medium-hero-desc-resp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 40px 20px 40px;
}

.hero-content-resp .medium-hero-desc-resp > p {
  font-family: "Gilroy-Medium";
  text-indent: 2em;
  font-size: 16px;
  margin: 0;
  line-height: 30px;
}

.hero-content-resp .shop-now-btn-resp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #e89f71;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-content-resp .shop-now-btn-resp p {
  font-family: "Gilroy-Regular";
  color: #fff;
}

.hero-content-resp .shop-now-btn-resp:hover {
  cursor: pointer;
}

.feature-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 92px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 88px;
  margin-bottom: 88px;
}

.feature-container .feature-item {
  width: 280px;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-container .feature-item img {
  margin-right: 24px;
  margin-left: 22px;
}

.feature-container .feature-item .feature-title .title-semibold {
  font-size: 20px;
  font-family: "Gilroy-Medium";
  margin: 0;
  margin-bottom: 2px;
}

.feature-container .feature-item .feature-title .title-medium {
  font-size: 16px;
  font-family: "Gilroy-Medium";
  margin: 0;
  color: #898989;
}

.our-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-products h2 {
  font-family: "Gilroy-Bold";
  margin: 0;
}

.our-products .product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  gap: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 32px;
}

.our-products .product-list .discount-price {
  background-color: #e97171;
  font-size: 16px;
  position: absolute;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin-right: 24px;
  margin-left: 213px;
  margin-top: 24px;
}

.our-products .product-list .discount-price p {
  margin-top: 12px;
  font-family: "Gilroy-Medium";
  color: #fff;
  text-align: center;
}

.our-products .product-list .new-product {
  background-color: #2ec1ac;
  font-size: 16px;
  position: absolute;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin-right: 24px;
  margin-left: 213px;
  margin-top: 24px;
}

.our-products .product-list .new-product p {
  margin-top: 12px;
  font-family: "Gilroy-Medium";
  color: #fff;
  text-align: center;
}

.our-products .product-list .product-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-products .product-list .product-item h5 {
  font-size: 24px;
  font-family: "Gilroy-Medium";
  color: #3a3a3a;
  margin: 16px;
  margin-bottom: 8px;
}

.our-products .product-list .product-item .item-desc {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 16px;
  font-family: "Gilroy-Medium";
  color: #898989;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 8px;
  margin-top: 0px;
}

.our-products .product-list .product-item .product-text-inline {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 34px;
}

.our-products .product-list .product-item .product-text-inline .base-price {
  font-size: 20px;
  margin-left: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Gilroy-Bold";
}

.our-products .product-list .product-item .product-text-inline .sale-price {
  font-size: 16px;
  color: #b0b0b0;
  text-decoration: line-through;
  margin-left: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Gilroy-Regular";
}

.our-products .product-list .grey-filter-hover {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-products .product-list .product-item:hover .grey-filter-hover {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 285px;
  height: 446px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3a3a3aab;
  position: absolute;
}

.our-products .product-list .product-item:hover .grey-filter-hover .add-container {
  cursor: pointer;
  width: 202px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  opacity: 1;
}

.our-products .product-list .product-item:hover .grey-filter-hover .add-container p {
  font-family: "Gilroy-Medium";
  text-align: center;
  color: #e89f71;
}

.our-products .product-list .product-item:hover .grey-filter-hover .share-like-container {
  width: 202px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-products .product-list .product-item:hover .grey-filter-hover .share-like-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.our-products .product-list .product-item:hover .grey-filter-hover .share-like-container img {
  margin-right: 8px;
}

.our-products .product-list .product-item:hover .grey-filter-hover .share-like-container img:hover {
  cursor: pointer;
}

.our-products .product-list .product-item:hover .grey-filter-hover .share-like-container p {
  margin: 0;
  font-family: "Gilroy-Medium";
  font-weight: 600;
  color: #fff;
}

.our-products .product-list .product-item:hover .grey-filter-hover .share-like-container p:hover {
  cursor: pointer;
}

.our-products .product-list .product-text-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-products .product-list > div {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 285px;
  min-height: 446px;
  background-color: #f4f5f7;
}

.show-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 32px;
  margin-bottom: 44px;
}

.show-more .show-more-btn {
  width: 245px;
  background-color: #fff;
  border: 1px solid #e89f71;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 12px;
}

.show-more .show-more-btn p {
  text-align: center;
  font-family: "Gilroy-Medium";
  margin: 0;
  color: #e89f71;
  font-weight: 600;
}

.show-more .show-more-btn:hover {
  cursor: pointer;
}

.tip-tricks-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tip-tricks-title h2 {
  margin: 0;
  font-size: 40px;
  margin-bottom: 32px;
  font-family: "Gilroy-Bold";
}

.inspi-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #fcf8f3;
  min-height: 670px;
  margin-bottom: 44px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.inspi-content .inspi-explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 100px;
  margin-right: 62px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 378px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.inspi-content .inspi-explore h2 {
  font-family: "Gilroy-Bold";
  font-size: 40px;
  margin: 0;
  text-align: left;
}

.inspi-content .inspi-explore p {
  font-family: "Gilroy-Medium";
  font-weight: 400;
  margin: 0;
  text-align: left;
}

.inspi-content .inspi-explore .more-btn {
  margin-top: 24px;
  background-color: #e89f71;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 12px 40px 12px 40px;
}

.inspi-content .inspi-explore .more-btn p {
  font-family: "Gilroy-Regular";
  font-weight: 600;
  color: #fff;
  margin: 0;
}

.inspi-content .inspi-explore .more-btn:hover {
  cursor: pointer;
}

.inspi-content .inspi-explore .inspi-list-reps {
  display: none;
}

.inspi-content .inspi-list {
  left: 37.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 44px;
  overflow-x: hidden;
}

.inspi-content .inspi-list img {
  margin-right: 24px;
}

.inspi-content .inspi-list #inspi-item1 {
  width: 404px;
  height: 582px;
}

.inspi-content .inspi-list #inspi-item2 {
  width: 372px;
  height: 486px;
}

.inspi-content .inspi-list #inspi-item3 {
  width: 372px;
  height: 486px;
}

.tips-tricks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
  margin-bottom: 96px;
}

.tips-tricks .tip-item {
  width: 391px;
  height: 370px;
}

.tips-tricks .tip-item .hover-bg {
  display: none;
  z-index: -1;
  position: absolute;
  background: rgba(97, 97, 97, 0.1);
  -webkit-filter: blur(40px);
          filter: blur(40px);
  min-width: 391px;
  min-height: 370px;
}

.tips-tricks .tip-item img {
  margin: 0;
  margin-bottom: 16px;
}

.tips-tricks .tip-item h5 {
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 24px;
  color: #3a3a3a;
  font-family: "Gilroy-Regular";
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 8px;
}

.tips-tricks .tip-item p {
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
  color: #898989;
  font-family: "Gilroy-Regular";
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.tips-tricks .tip-item:hover {
  cursor: pointer;
  background-color: #fff;
}

.tips-tricks .tip-item:hover .hover-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.share-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.share-title p {
  font-family: "Gilroy-Regular";
  font-weight: 600;
  margin: 0;
  margin-bottom: 8px;
  font-size: 20px;
  color: #616161;
}

.share-title h2 {
  z-index: 1;
  margin: 0;
  font-family: "Gilroy-Bold";
  font-size: 40px;
  color: #3a3a3a;
}

.share-title h2:hover {
  cursor: pointer;
}

.share-container {
  margin-top: -25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 87px;
}

.share-container img {
  width: 100%;
}

.footer-container {
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 32px;
  gap: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-container #footer-col-1 {
  width: 249px;
}

.footer-container #footer-col-1 #p-desc-1 {
  margin-bottom: 16px;
}

.footer-container #footer-col-1 #p-location {
  margin-bottom: 16px;
}

.footer-container #footer-col-1 #p-phone {
  margin-bottom: 16px;
}

.footer-container #footer-col-1 a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #616161;
  font-family: "Gilroy-Regular";
}

.footer-container .footer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-container .footer-col .footer-title {
  font-family: "Gilroy-Bold";
  font-size: 24px;
  font-weight: 700;
}

.footer-container .footer-col p {
  margin: 0;
  margin-bottom: 16px;
}

.footer-container .footer-col p img {
  margin-right: 8px;
}

.footer-container .footer-col .p-desc {
  font-family: "Gilroy-Regular";
  color: #616161;
  margin: 0;
}

.footer-container .footer-col a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 16px;
  font-family: "Gilroy-Medium";
  color: #616161;
  text-decoration: none;
  font-weight: 400;
}

.footer-container .footer-col .input-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-container .footer-col .input-tab input {
  border-width: 0;
  background-color: #f4f5f7;
  padding-left: 12px;
  padding-right: 12px;
  width: 242px;
  font-family: "Gilroy-Regular";
  font-weight: 400;
}

.footer-container .footer-col .input-tab img {
  margin-left: 4px;
}

.footer-line hr {
  width: 85%;
  background-color: #d8d8d8;
  border: 1px solid gray;
  border-color: #d8d8d8;
}

@media screen and (max-width: 992px) {
  .headercontent {
    width: 100%;
  }
  .headercontent .navigation-bar {
    margin-left: 40px;
    margin-right: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .headercontent .navigation-bar .search-bar {
    margin-top: 16px;
    width: 70%;
  }
  .headercontent .navigation-bar .profile-list {
    margin-top: 16px;
  }
  .headercontent .left-right-btn {
    margin-bottom: 516px;
  }
  .headercontent .imageslide img {
    height: 64%;
  }
  .headercontent .hero-content {
    width: 350px;
    height: 450px;
    margin-bottom: 16px;
    left: 0;
  }
  .headercontent .hero-content .bold-hero-text {
    margin-bottom: 32px;
  }
  .headercontent .hero-content .bold-hero-text > p {
    font-size: 32px;
    line-height: 40px;
    margin: 0;
  }
  .headercontent .hero-content .medium-hero-desc {
    margin-top: 210px;
  }
  .headercontent .hero-content .medium-hero-desc > p {
    font-size: 16px;
    margin: 0;
  }
  .headercontent .hero-content .shop-now-btn {
    width: 100%;
    margin: 0;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .headercontent .info-box {
    right: 0;
    width: 160px;
  }
  .headercontent .info-box h4 {
    font-size: 20px;
    margin-right: 24px;
  }
  .headercontent .info-box .info-p1 {
    font-size: 14px;
    margin-right: 24px;
  }
  .headercontent .info-box .info-p2 {
    font-size: 16px;
    margin-top: 104px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 768px) {
  .headercontent .navigation-bar .search-bar {
    margin-right: 0;
  }
  .headercontent .navigation-bar .profile-list {
    padding-left: 16px;
  }
  .inspi-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    min-height: auto;
    padding-top: 40px;
    padding-bottom: 56px;
  }
  .inspi-content .inspi-list {
    display: none;
  }
  .inspi-content .inspi-explore {
    margin: 0;
    width: auto;
    padding-left: 16px;
    margin-right: 16px;
  }
  .inspi-content .inspi-explore h2 {
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    font-size: 24px;
    margin-bottom: 16px;
  }
  .inspi-content .inspi-explore p {
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    font-size: 14px;
  }
  .inspi-content .inspi-explore .more-btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    padding: 8px 24px 8px 24px;
  }
  .inspi-content .inspi-explore .inspi-list-reps {
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .inspi-content .inspi-explore .inspi-list-reps #inspi-item1-resp {
    width: 144px;
    height: 208px;
  }
  .inspi-content .inspi-explore .inspi-list-reps #inspi-item2-resp {
    width: 112px;
    height: 188px;
  }
  .inspi-content .inspi-explore .inspi-list-reps #inspi-item3-resp {
    width: 144px;
    height: 208px;
  }
}

@media screen and (max-width: 600px) {
  .leftbg {
    width: 0;
  }
  .headercontent {
    width: 100%;
    height: 614px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #f9f1e7;
  }
  .headercontent .navigation-bar .main-logo {
    margin-right: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .headercontent .navigation-bar .menu-list {
    display: none;
  }
  .headercontent .navigation-bar .drawer-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    margin-left: auto;
  }
  .headercontent .navigation-bar .drawer-btn:hover {
    cursor: pointer;
  }
  .headercontent .navigation-bar .search-bar {
    width: 100%;
  }
  .headercontent .navigation-bar .profile-list {
    width: 100%;
    padding-left: 0px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .headercontent .imageslide img {
    height: 50%;
  }
  .headercontent .hero-content {
    display: none;
  }
  .headercontent .info-box {
    display: none;
  }
  .headercontent .left-right-btn {
    margin-bottom: 332px;
  }
  .headercontent .left-right-btn .left-right-arrow {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .headercontent .left-right-btn .left-right-arrow > img {
    width: 40px;
    margin-top: 0;
  }
  .hero-content-resp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .tip-tricks-title h2 {
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    font-size: 24px;
  }
  .tips-tricks .tip-item img {
    width: 100%;
  }
  .tips-tricks .tip-item h5 {
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    font-size: 16px;
  }
  .tips-tricks .tip-item p {
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    font-size: 12px;
  }
  .share-title p {
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    font-size: 16px;
  }
  .share-title h2 {
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    font-size: 24px;
  }
  .share-container {
    margin-top: 0px;
  }
  .our-products .product-list .product-item img {
    width: 100%;
  }
  .our-products .product-list .product-item h5 {
    font-size: 18px;
  }
  .our-products .product-list .product-item .item-desc {
    font-size: 12px;
  }
  .our-products .product-list .product-item .product-text-inline .base-price {
    font-size: 16px;
  }
  .our-products .product-list .product-item .product-text-inline .sale-price {
    font-size: 16px;
  }
  .footer-container .footer-col .footer-title {
    font-size: 18px;
  }
  .footer-container .footer-col a {
    font-size: 14px;
  }
  .footer-container .footer-col .input-tab input {
    width: 120px;
  }
}
/*# sourceMappingURL=theme.css.map */