@font-face {
  font-family: "Gilroy-Bold";
  src: url("../assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../assets/fonts/Gilroy-Regular.ttf");
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.leftbg {
  position: absolute;
  display: flex;
  width: 66.94%;
  height: 774px;
  background-color: #f9f1e7;
}

.headercontent {
  width: 100%;
  height: 774px;
  background-color: #fcf8f3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .navigation-bar {
    z-index: 2;
    position: absolute;
    padding-top: 40px;
    max-width: 1240px;
    min-height: 45px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    .main-logo {
      margin-right: 40px;
      align-self: center;
    }

    .arrow-icon {
      margin-right: 40px;
    }

    .menu-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      background-color: #fff;
      margin-right: 43px;
      height: 24px;
      align-self: center;
    }
    .drawer-btn {
      display: none;
    }

    .drawer-menu {
      display: none;
      margin-top: 16px;
      width: 100%;
      background-color: #fff;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        text-align: center;
        li {
          font-family: "Gilroy-Regular";
          font-size: 1em;
          padding-top: 8px;
          padding-bottom: 8px;
          color: #a7a097;
          transition: 0.35s;
        }
        li:hover {
          cursor: pointer;
          background-color: #cfcbc6;
          color: #fff;
        }
      }
    }

    .search-bar {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 473px;
      min-height: 45px;
      background-color: #fff;

      img {
        margin-left: 12px;
        margin-right: 6px;
      }

      input {
        display: flex;
        padding-left: 6px;
        padding-right: 6px;
        width: 85%;
        border: none;
        border-radius: 0px;
        height: 40px;
        font-family: "Gilroy-Regular";
      }
    }

    .profile-list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      padding-left: 120px;
      .profile-icon {
        margin-right: 32px;
      }
      .profile-icon:hover {
        cursor: pointer;
      }
      .profile-images:hover {
        cursor: pointer;
      }
    }
  }

  .hero-content {
    display: flex;
    width: 100%;
    width: 494px;
    height: 553px;
    z-index: 2;
    position: absolute;
    align-self: flex-end;
    justify-content: flex-start;
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(31px);
    opacity: 0.72;
    left: 100px;
    margin-bottom: 80px;
    flex-wrap: wrap;

    .bold-hero-text {
      position: absolute;
      margin: 60px 60px 292px 60px;
      flex-wrap: wrap;
    }

    .bold-hero-text > p {
      font-family: "Gilroy-Bold";
      font-size: 56px;
      margin: 0;
      line-height: 67.2px;
    }

    .medium-hero-desc {
      position: absolute;
      flex-wrap: wrap;
      margin: 277px 77px 186px 60px;
    }
    .medium-hero-desc > p {
      font-family: "Gilroy-Medium";
      font-size: 20px;
      margin: 0;
      line-height: 30px;
    }
    .shop-now-btn {
      position: absolute;
      display: flex;
      width: 374px;
      height: 78px;
      background: #e89f71;
      align-items: center;
      justify-content: center;
      margin: 415px 60px 60px 60px;
    }

    .shop-now-btn:hover {
      cursor: pointer;
    }

    .shop-now-btn > p {
      color: #fff;
      font-family: "Gilroy-Regular";
      font-size: 20px;
      margin: 0;
    }
  }

  .info-box {
    z-index: 2;
    position: absolute;
    width: 294px;
    height: 148px;
    background-color: rgba(255, 255, 255, 0.72);
    right: 96px;
    top: 586px;
    .info-p1 {
      margin: 62px 105px 62px 24px;
    }
    .info-p2 {
      margin: 94px 141px 24px 24px;
      font-size: 20px;
    }
  }
  .info-box > h4 {
    position: absolute;
    font-family: "Gilroy-Regular";
    font-size: 28px;
    margin: 24px 161px 90px 24px;
  }
  .info-box > p {
    position: absolute;
    font-family: "Gilroy-Regular";
  }
}

.left-right-btn {
  z-index: 2;
  width: 76%;
  min-height: 48px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-self: flex-end;

  margin-bottom: 574px;

  .left-right-arrow {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: flex-end;
    gap: 8px;
  }

  .left-right-arrow > img:hover {
    cursor: pointer;
  }
}

.status-gallery-view {
  display: flex;
  position: absolute;
  gap: 16px;
  width: 100%;
  flex-direction: row;
  align-self: center;
  justify-content: center;
}

.imageslide {
  z-index: 1;
  width: 100%;
  display: flex;
  gap: 32px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  overflow-x: hidden;

  img {
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    transform: translateX(12%);
  }
}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  a:not(:last-child) {
    text-decoration: none;
    font-size: 1rem;
    margin-right: 0.5rem;
    color: #3a3a3a;
    font-family: "Gilroy-Medium";
  }
  a:last-child {
    text-decoration: none;
    font-size: 1rem;
    color: #3a3a3a;
    font-family: "Gilroy-Medium";
  }

  img:hover {
    cursor: pointer;
  }
}

.hero-content-resp {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  .bold-hero-text-resp {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 40px 20px 20px 20px;
  }
  .bold-hero-text-resp > p {
    font-family: "Gilroy-Bold";
    font-size: 24px;

    margin: 0;
  }

  .medium-hero-desc-resp {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px 40px 20px 40px;
  }
  .medium-hero-desc-resp > p {
    font-family: "Gilroy-Medium";
    text-indent: 2em;
    font-size: 16px;
    margin: 0;
    line-height: 30px;
  }
  .shop-now-btn-resp {
    display: flex;
    width: 100%;
    background: #e89f71;
    align-items: center;
    justify-content: center;
    p {
      font-family: "Gilroy-Regular";
      color: #fff;
    }
  }
  .shop-now-btn-resp:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 992px) {
  .headercontent {
    width: 100%;

    .navigation-bar {
      margin-left: 40px;
      margin-right: 40px;
      justify-content: center;
      .main-logo {
      }

      .arrow-icon {
      }

      .menu-list {
      }
      .drawer-menu {
      }
      .drawer-btn {
      }

      .search-bar {
        margin-top: 16px;
        width: 70%;
        img {
        }

        input {
        }
      }

      .profile-list {
        margin-top: 16px;

        .profile-icon {
        }
        .profile-icon:hover {
        }
        .profile-images:hover {
        }
      }
    }

    .left-right-btn {
      margin-bottom: 516px;
    }

    .imageslide {
      img {
        height: 64%;
      }
    }

    .hero-content {
      width: 350px;
      height: 450px;
      margin-bottom: 16px;
      left: 0;

      .bold-hero-text {
        margin-bottom: 32px;
      }

      .bold-hero-text > p {
        font-size: 32px;
        line-height: 40px;
        margin: 0;
      }

      .medium-hero-desc {
        margin-top: 210px;
      }

      .medium-hero-desc > p {
        font-size: 16px;
        margin: 0;
      }

      .shop-now-btn {
        width: 100%;
        margin: 0;
        align-self: flex-end;
      }
    }
    .info-box {
      right: 0;
      width: 160px;
      h4 {
        font-size: 20px;
        margin-right: 24px;
      }

      .info-p1 {
        font-size: 14px;
        margin-right: 24px;
      }
      .info-p2 {
        font-size: 16px;
        margin-top: 104px;
        margin-right: 24px;
      }
    }
  }

  .menu-item {
    a:not(:last-child) {
    }
    a:last-child {
    }

    img:hover {
    }
  }
}

@media screen and (max-width: 768px) {
  .headercontent {
    .navigation-bar {
      .main-logo {
      }

      .arrow-icon {
      }

      .menu-list {
      }
      .drawer-menu {
      }
      .drawer-btn {
      }

      .search-bar {
        margin-right: 0;
        img {
        }

        input {
        }
      }

      .profile-list {
        padding-left: 16px;

        .profile-icon {
        }
        .profile-icon:hover {
        }
        .profile-images:hover {
        }
      }
    }
  }

  .menu-item {
    a:not(:last-child) {
    }
    a:last-child {
    }

    img:hover {
    }
  }
}

@media screen and (max-width: 600px) {
  .leftbg {
    width: 0;
  }
  .headercontent {
    width: 100%;
    height: 614px;
    display: flex;
    justify-content: center;
    background-color: #f9f1e7;

    .navigation-bar {
      .main-logo {
        margin-right: 0;
        align-self: center;
      }

      .arrow-icon {
      }

      .menu-list {
        display: none;
      }
      .drawer-btn {
        display: flex;
        align-self: center;
        margin-left: auto;
      }
      .drawer-btn:hover {
        cursor: pointer;
      }
      .drawer-menu {
      }
      .search-bar {
        width: 100%;
        img {
        }

        input {
        }
      }

      .profile-list {
        width: 100%;
        padding-left: 0px;
        justify-content: flex-end;
        .profile-icon {
        }
        .profile-icon:hover {
        }
        .profile-images:hover {
        }
      }
    }
    .imageslide {
      img {
        height: 50%;
      }
    }
    .hero-content {
      display: none;
    }
    .info-box {
      display: none;
    }

    .left-right-btn {
      margin-bottom: 332px;
      .left-right-arrow {
        justify-content: space-between;
      }
      .left-right-arrow > img {
        width: 40px;
        margin-top: 0;
      }
    }
  }

  .menu-item {
    a:not(:last-child) {
    }
    a:last-child {
    }

    img:hover {
    }
  }
  .drawer-menu {
  }

  .hero-content-resp {
    display: flex;
  }
}
