@font-face {
  font-family: "Gilroy-Bold";
  src: url("../assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../assets/fonts/Gilroy-Regular.ttf");
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.leftbg {
  position: absolute;
  display: flex;
  width: 66.94%;
  height: 774px;
  background-color: #f9f1e7;
}

.headercontent {
  width: 100%;
  min-height: 774px;
  background-color: #fcf8f3;
  display: flex;
  justify-content: center;

  .navigation-bar {
    z-index: 2;
    position: absolute;
    padding-top: 40px;
    max-width: 1240px;
    min-height: 45px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    .main-logo {
      margin-right: 40px;
      align-self: center;
    }

    .arrow-icon {
      margin-right: 40px;
    }

    .menu-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      background-color: #fff;
      margin-right: 43px;
      height: 24px;
      align-self: center;
    }
    .drawer-btn {
      display: none;
    }

    .drawer-menu {
      display: none;
      margin-top: 16px;
      width: 100%;
      background-color: #fff;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        text-align: center;
        li {
          font-family: "Gilroy-Regular";
          font-size: 1em;
          padding-top: 8px;
          padding-bottom: 8px;
          color: #a7a097;
          transition: 0.35s;
        }
        li:hover {
          cursor: pointer;
          background-color: #cfcbc6;
          color: #fff;
        }
      }
    }

    .search-bar {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 473px;
      min-height: 45px;
      background-color: #fff;

      img {
        margin-left: 12px;
        margin-right: 6px;
      }

      input {
        display: flex;
        padding-left: 6px;
        padding-right: 6px;
        width: 85%;
        border: none;
        border-radius: 0px;
        height: 40px;
        font-family: "Gilroy-Regular";
      }
    }

    .profile-list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      padding-left: 120px;
      .profile-icon {
        margin-right: 32px;
      }
      .profile-icon:hover {
        cursor: pointer;
      }
      .profile-images:hover {
        cursor: pointer;
      }
    }
  }
}

.left-right-btn {
  z-index: 2;
  width: 76%;
  min-height: 48px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-content: flex-end;
  gap: 8px;
  margin-bottom: 574px;

  img:hover {
    cursor: pointer;
  }
}

.imageslide {
  z-index: 1;
  width: 100%;
  display: flex;
  gap: 32px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  overflow-x: hidden;

  img {
    transition-timing-function: ease-out;
    transition-duration: 0.5s;
    transform: translateX(12%);
  }
}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  a:not(:last-child) {
    text-decoration: none;
    font-size: 1rem;
    margin-right: 0.5rem;
    color: #3a3a3a;
    font-family: "Gilroy-Medium";
  }
  a:last-child {
    text-decoration: none;
    font-size: 1rem;
    color: #3a3a3a;
    font-family: "Gilroy-Medium";
  }

  img:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 992px) {
  .headercontent {
    width: 100%;

    .navigation-bar {
      margin-left: 40px;
      margin-right: 40px;
      justify-content: center;
      .main-logo {
      }

      .arrow-icon {
      }

      .menu-list {
      }
      .drawer-menu {
      }
      .drawer-btn {
      }

      .search-bar {
        margin-top: 16px;
        width: 70%;
        img {
        }

        input {
        }
      }

      .profile-list {
        margin-top: 16px;

        .profile-icon {
        }
        .profile-icon:hover {
        }
        .profile-images:hover {
        }
      }
    }
  }

  .menu-item {
    a:not(:last-child) {
    }
    a:last-child {
    }

    img:hover {
    }
  }
}

@media screen and (max-width: 768px) {
  .headercontent {
    .navigation-bar {
      .main-logo {
      }

      .arrow-icon {
      }

      .menu-list {
      }
      .drawer-menu {
      }
      .drawer-btn {
      }

      .search-bar {
        margin-right: 0;
        img {
        }

        input {
        }
      }

      .profile-list {
        padding-left: 16px;

        .profile-icon {
        }
        .profile-icon:hover {
        }
        .profile-images:hover {
        }
      }
    }
  }

  .menu-item {
    a:not(:last-child) {
    }
    a:last-child {
    }

    img:hover {
    }
  }
}

@media screen and (max-width: 600px) {
  .leftbg {
    width: 0;
  }
  .headercontent {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f9f1e7;

    .navigation-bar {
      .main-logo {
        margin-right: 0;
        align-self: center;
      }

      .arrow-icon {
      }

      .menu-list {
        display: none;
      }
      .drawer-btn {
        display: flex;
        align-self: center;
        margin-left: auto;
      }
      .drawer-btn:hover {
        cursor: pointer;
      }
      .drawer-menu {
      }
      .search-bar {
        width: 100%;
        img {
        }

        input {
        }
      }

      .profile-list {
        width: 100%;
        padding-left: 0px;
        justify-content: flex-end;
        .profile-icon {
        }
        .profile-icon:hover {
        }
        .profile-images:hover {
        }
      }
    }
  }

  .menu-item {
    a:not(:last-child) {
    }
    a:last-child {
    }

    img:hover {
    }
  }
  .drawer-menu {
  }
}
