@font-face {
  font-family: "Gilroy-Bold";
  src: url("../assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../assets/fonts/Gilroy-Regular.ttf");
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.headercontent {
  width: 100%;
  min-height: 774px;
  background-color: #fcf8f3;
}

.headercontent .leftbg {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 66.94%;
  height: 774px;
  background-color: #f9f1e7;
}

.headercontent .navigation-bar {
  position: absolute;
  padding-top: 40px;
  max-width: 1240px;
  min-height: 45px;
  margin-left: 100px;
  margin-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.headercontent .navigation-bar .main-logo {
  margin-right: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.headercontent .navigation-bar .arrow-icon {
  margin-right: 40px;
}

.headercontent .navigation-bar .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fff;
  margin-right: 43px;
  height: 24px;
  -ms-flex-item-align: center;
      align-self: center;
}

.headercontent .navigation-bar .drawer-btn {
  display: none;
}

.headercontent .navigation-bar .drawer-menu {
  display: none;
  margin-top: 16px;
  width: 100%;
  background-color: #fff;
}

.headercontent .navigation-bar .drawer-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  text-align: center;
}

.headercontent .navigation-bar .drawer-menu ul li {
  font-family: "Gilroy-Regular";
  font-size: 1em;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #a7a097;
}

.headercontent .navigation-bar .drawer-menu ul li:hover {
  cursor: pointer;
  background-color: #cfcbc6;
  color: #fff;
}

.headercontent .navigation-bar .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 473px;
  min-height: 45px;
  background-color: #fff;
}

.headercontent .navigation-bar .search-bar img {
  margin-left: 12px;
  margin-right: 6px;
}

.headercontent .navigation-bar .search-bar input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 6px;
  padding-right: 6px;
  width: 85%;
  border: none;
  border-radius: 0px;
  height: 40px;
  font-family: "Gilroy-Regular";
}

.headercontent .navigation-bar .profile-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 120px;
}

.headercontent .navigation-bar .profile-list .profile-icon {
  margin-right: 32px;
}

.headercontent .navigation-bar .profile-list .profile-icon:hover {
  cursor: pointer;
}

.headercontent .navigation-bar .profile-list .profile-images:hover {
  cursor: pointer;
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-item a:not(:last-child) {
  text-decoration: none;
  font-size: 1rem;
  margin-right: 0.5rem;
  color: #3a3a3a;
  font-family: "Gilroy-Medium";
}

.menu-item a:last-child {
  text-decoration: none;
  font-size: 1rem;
  color: #3a3a3a;
  font-family: "Gilroy-Medium";
}

.menu-item img:hover {
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .headercontent {
    width: 100%;
  }
  .headercontent .navigation-bar {
    margin-left: 40px;
    margin-right: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .headercontent .navigation-bar .search-bar {
    margin-top: 16px;
    width: 70%;
  }
  .headercontent .navigation-bar .profile-list {
    margin-top: 16px;
  }
}

@media screen and (max-width: 768px) {
  .headercontent .navigation-bar .search-bar {
    margin-right: 0;
  }
  .headercontent .navigation-bar .profile-list {
    padding-left: 16px;
  }
}

@media screen and (max-width: 600px) {
  .headercontent .navigation-bar .main-logo {
    margin-right: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .headercontent .navigation-bar .menu-list {
    display: none;
  }
  .headercontent .navigation-bar .drawer-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    margin-left: auto;
  }
  .headercontent .navigation-bar .drawer-btn:hover {
    cursor: pointer;
  }
  .headercontent .navigation-bar .search-bar {
    width: 100%;
  }
  .headercontent .navigation-bar .profile-list {
    width: 100%;
    padding-left: 0px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
/*# sourceMappingURL=theme.css.map */